body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('bgf.jpg') no-repeat center center fixed;
}

header {
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    width: 38%;
    max-width: 800px;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.logo {
    max-width: 100px;
    height: auto;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    text-align: center;
}

.button-container a {
    margin: 0 0.5rem;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.5rem 0;
    cursor: pointer;
    border-radius: 4px;
}

form label {
    display: block;
    margin: 0.5rem 0 0.2rem;
}

form input, form select, form textarea {
    width: 97.5%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="checkbox"] {
    width: auto;
    display: inline-block;
    margin-left: 0.5rem;
}

.required {
    color: red;
}

.profile-background {
    background-color: #e0f7fa;
}

.index-background {
    background-color: #f0f4c3;
}

.register-background {
    background-color: #fff3e0;
}

.login-background {
    background-color: #e1bee7;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

#profile {
    text-align: center;
}
#profilePhoto {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}
#profileInfo {
    background: #fff;
    color: #000;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#profileInfo p {
    font-size: 1.2em;
    margin: 10px 0;
}
#profileInfo p span {
    font-weight: bold;
}